@font-face {
    font-family: "CookieRun-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: pink;
}

h1 {
    color: cornflowerblue;
    transition: color 0.5s ease-in-out;
}

.active {
    color: tomato;
}

.sexy-font {
    font-family: "CookieRun-Regular";
}
